*{
  margin: auto;
  padding: auto;
}
.container{
  border:1px solid #ccc;
  margin: 50px auto;
  max-width: 380px;
  width:40%;
  padding-top: 15px;
  height:auto;
}
.display{
  
  
  
}
label{
  font-size: 14px;
  display: inline-block;
  padding-left: 14px;
  margin:14px;
  width:100%;

}
input[type='number']{
  width:95%;
  padding-left:15px;
  height:30px;
  background-color: blue;
}
button{
  cursor:pointer;
  text-align: center;
  width:25%;
  align-items: center;
  justify-content: center;
  height:20px;
  margin:30px;
  font-size:14px;

}
p{
  color:black;
  font-size:14px;

}